.idea
.vscode
.DS_Store
node_modules
dist
.env
*.log
reusable_static_web_template_technical_business_blueprint.md
references
.agent
assets/images/projects/original/
assets/images/philosophy/original/
assets/images/team/original/
assets/images/people/original/
assets/images/projects/avif_old
assets/images/projects/webp_old

assets/css/styles.css
assets/images/DBDA-projects-26-3-2026