/* =========================================
   Utilities CSS
   ========================================= */

.mt-sm {
    margin-top: var(--spacing-sm) !important;
}

.mt-md {
    margin-top: var(--spacing-md) !important;
}

.mt-lg {
    margin-top: var(--spacing-lg) !important;
}

.mb-xs {
    margin-bottom: var(--spacing-xs) !important;
}

.mb-sm {
    margin-bottom: var(--spacing-sm) !important;
}

.mb-md {
    margin-bottom: var(--spacing-md) !important;
}

.mb-lg {
    margin-bottom: var(--spacing-lg) !important;
}

.pt-sm {
    padding-top: var(--spacing-sm) !important;
}

.pt-md {
    padding-top: var(--spacing-md) !important;
}

.pt-lg {
    padding-top: var(--spacing-lg) !important;
}

.text-accent {
    color: var(--color-accent) !important;
}

.text-white {
    color: var(--color-white) !important;
}

.text-uppercase {
    text-transform: uppercase !important;
}

.bg-concrete {
    background-color: var(--color-concrete) !important;
}

.bg-black {
    background-color: var(--color-border) !important;
}

.gs {
    filter: grayscale(100%);
}

.gs-0 {
    filter: grayscale(0%);
}

.w-full {
    width: 100% !important;
}

.h-full {
    height: 100% !important;
}

.border-b {
    border-bottom: var(--border-width) solid var(--color-border) !important;
}

.border-b-md {
    border-bottom: var(--border-width-md) solid var(--color-border) !important;
}

.z-50 {
    z-index: 50 !important;
}